

.obj-card{
	
	font-size: 20px;
	padding: 10px;
	display:flex;
	flex-wrap: wrap;
	// & h4 {
	// 	margin-top: 5px;
	// 	margin-bottom: 10px;
	// 	text-align: center;
	// }

	& .image {
		padding: 20px 10px;
		display: block;
	}

	& .inform {
		float: left;
		& .title{
			display: inline-block;
			text-align: left;

			width: 150px;
			clear: both;
		}

		& .data{
			display: inline-block;
			text-align: left;
		}
	}
	& .button{
		text-align:center;
		margin-top:5px;
		& button{
			width:50%;
		}
	}
}