$head-title-color: SlateGray;
$bg-color: darkgray;
$border-color: black;
$modal-color: #fff;

body {
 background: $bg-color;
}

.form {
	& h4{
		margin: 5px 0;
		text-align: center;
	}
}

.content{
	display: flex;
	justify-content: center;
	height: 600px;
	
	& .left-content{
		width: 40%;

		& .head-title{
			background-color: $head-title-color;
			height: 8%;
			text-align: center;

			& p{
				font-size: 20px;
				margin: 0;
				padding-top: 15px;
			}
		}

		& .button-diff-list {
			height: 4%;
			display: flex;
			width: 100%;

			 	& button{
			 		display: block;
			 		width: 50%;
			 	}
		}

		& .search-form{
			height: 5%;
			border: 0;
			& input{
				width: 100%;
				height: 100%;
				text-align: left;
			}
		}

		& .select-form{
			border: 0;
			width: 100%;
			height: 5%;

			text-align: center;
		}

		& .list{
			box-sizing: border-box;
			border: 2px solid $border-color;
			height: 70%;
			overflow: auto;
		}

		& .open-modal{
			border: 0;
			width:100%;
			height: 8%;
		}
	}

	& .right-content{
		width: 60%;
		height: 100%;
	}

	& .modal{
		z-index: 9999;
	  position: absolute;
	  top: 30%;
	  left: 50%;
	  min-width: 290px;
	  
	  padding: 5px;
	  border-radius: 10px;
	  background: $modal-color;
	  text-align: right;
	  
	  & .item{
	  	margin: 3px 0;
	  }

	  & label{
	  	float: left;
	  	margin-right: 2px;
	  }

	  & input[type="button"]{
	  	display: block;
	  	margin: 0 auto;
	  }
	}

	& .bg{
		z-index: 9998;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background: rgba(0, 0, 0, 0.3);
	}
}